In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [29]:
xb = pd.read_csv(
    'Xbox 3-day auctions.csv'
)
xb.head()

    auctionid    bid   bidtime          bidder  bidderrate  openbid  price
0  8213034705   95.0  2.927373        jake7870           0     95.0  117.5
1  8213034705  115.0  2.943484   davidbresler2           1     95.0  117.5
2  8213034705  100.0  2.951285  gladimacowgirl          58     95.0  117.5
3  8213034705  117.5  2.998947         daysrus          10     95.0  117.5
4  8213060420    2.0  0.065266      donnie4814           5      1.0  120.0

In [68]:
parakeet = xb[xb.bidder == 'parakeet2004']
parakeet

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420   3.00  0.186539  parakeet2004           5      1.0  120.0
7  8213060420  10.00  0.186690  parakeet2004           5      1.0  120.0
8  8213060420  24.99  0.187049  parakeet2004           5      1.0  120.0

In [15]:
# error
xb[xb.bidder == 'parakeet2004']['bidderrate'] = 100

/Users/Sourabh/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [69]:
xb.loc[xb.bidder == 'parakeet2004', 'bidderrate'] = 100

In [70]:
xb[xb.bidder == 'parakeet2004']['bidderrate']

6    100
7    100
8    100
Name: bidderrate, dtype: int64

In [71]:
winners = xb.loc[xb.bid == xb.price]
winners.head()

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price
3,8213034705,117.5,2.998947,daysrus,10,95.00,117.5
25,8213060420,120.0,2.999722,djnoeproductions,17,1.00,120.0
44,8213067838,132.5,2.996632,*champaignbubbles*,202,29.99,132.5
45,8213067838,132.5,2.997789,*champaignbubbles*,202,29.99,132.5
66,8213073509,114.5,2.999236,rr6kids,4,1.00,114.5

In [72]:
winners.loc[304, 'bidder']

nan

In [78]:
pd.set_option('mode.chained_assignment', 'warn')
# pd.set_option('mode.chained_assignment', 'raise')

In [79]:
winners.loc[304, 'bidder'] = 'realname'

/Users/Sourabh/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [75]:
# xb.loc[xb.bid == xb.price].loc[304, 'bidder'] = 'realname'

In [80]:
winners = xb.loc[xb.bid == xb.price].copy()
winners.head()

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price
3,8213034705,117.5,2.998947,daysrus,10,95.00,117.5
25,8213060420,120.0,2.999722,djnoeproductions,17,1.00,120.0
44,8213067838,132.5,2.996632,*champaignbubbles*,202,29.99,132.5
45,8213067838,132.5,2.997789,*champaignbubbles*,202,29.99,132.5
66,8213073509,114.5,2.999236,rr6kids,4,1.00,114.5

In [82]:
winners.loc[304, 'bidder'] = 'realname'

In [83]:
print(winners.loc[304, 'bidder'])
print(xb.loc[304, 'bidder'])

realname
nan

In [30]:
# problem - hidden chained indexing
xb[xb.bidder == 'parakeet2004']['bidderrate'] = 100

/Users/Sourabh/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
# alternate way of writing the above problematic statement
xb.__getitem__(xb.__getitem__('bidder') == 'parakeet2004').__setitem__('bidderrate', 100)

/Users/Sourabh/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
# solution to the problem of chained indexing is to use loc and iloc with set method
xb.loc[xb.bidder == 'parakeet2004', 'bidderrate'] = 100

In [35]:
# alternative form of the solution without syntactic sugar
xb.loc.__setitem__((xb.__getitem__('bidder') == 'parakeet2004', 'bidderrate'), 200)

In [37]:
# using get method with loc and iloc again leads to chained indexing assignment
xb.loc[xb.bidder == 'parakeet2004']['bidderrate'] = 100

/Users/Sourabh/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [70]:
# the problem with using get method after loc and iloc
# updates the copy but pandas can not detect it (it is a bug)
xb.loc[xb.bidder == 'parakeet2004', ('bidderrate', 'bid')]['bid'] = 300

In [68]:
# alternative form of the problem with using get method after loc and iloc
# updates the copy but pandas can not detect it (it is a bug)
# the __getitem__ in loc guarantees to return the view but the view __setitem__ method is not being called
# on xb.iloc, instead it is called on an intermediate view so it updates the view which is not updated to xb.iloc
# this is a false positive, it should have been detected by pandas but is ignored due to a bug
xb.loc.__getitem__((xb.__getitem__('bidder') == 'parakeet2004', ('bidderrate', 'bid'))).__setitem__('bid', 400)

In [80]:
# better way of doing the above operation is like update it in place
xb.loc[xb.bidder == 'parakeet2004', 'bid'] = 300
# and then get its slice
xb.loc[xb.bidder == 'parakeet2004', ('bidderrate', 'bid')]
# or as a whole
xb.loc[xb.bidder == 'parakeet2004']

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420  300.0  0.186539  parakeet2004         200      1.0  120.0
7  8213060420  300.0  0.186690  parakeet2004         200      1.0  120.0
8  8213060420  300.0  0.187049  parakeet2004         200      1.0  120.0

In [79]:
# alternatively do it like this without syntactic sugar
xb.loc.__setitem__((xb.__getitem__('bidder') == 'parakeet2004', 'bid'), 400)
# and then get its slice
xb.loc.__getitem__((xb.__getitem__('bidder') == 'parakeet2004', ('bidder', 'bid')))
# or as a whole
xb.loc.__getitem__(xb.__getitem__('bidder') == 'parakeet2004')

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420  400.0  0.186539  parakeet2004         200      1.0  120.0
7  8213060420  400.0  0.186690  parakeet2004         200      1.0  120.0
8  8213060420  400.0  0.187049  parakeet2004         200      1.0  120.0

In [74]:
xb[xb.bidder == 'parakeet2004']

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420  300.0  0.186539  parakeet2004         200      1.0  120.0
7  8213060420  300.0  0.186690  parakeet2004         200      1.0  120.0
8  8213060420  300.0  0.187049  parakeet2004         200      1.0  120.0

In [3]:
nums = np.arange(12).reshape(4, 3)
nums
rdf1 = pd.DataFrame(nums, columns=list('ABC'))
rdf1

   A   B   C
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [7]:
rdf2 = rdf1.loc[:1]
rdf2

   A  B  C
0  0  1  2
1  3  4  5